.App {
  font-family: sans-serif;
  text-align: center;
}

.article {
  margin: 50px;
  padding: 30px;
  border-radius: 25px;
  background-color: #e3b5a4;
}

button {
  background-color: #f97068;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  border: none;
  color: white;
}

input {
  padding: 10px;
}
